<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleDisplayName</key>
	<string>SketchyDraw</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>skt3DocIcon</string>
			<key>CFBundleTypeName</key>
			<string>SketchyDraw Graphic Format</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.SatoAkira.skt3</string>
			</array>
			<key>NSDocumentClass</key>
			<string>SKTDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.encapsulated-postscript</string>
				<string>public.svg-image</string>
				<string>com.adobe.pdf</string>
				<string>public.tiff</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>SketchDoc</string>
			<key>CFBundleTypeName</key>
			<string>SketchyDraw Graphic 2 Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.SatoAkira.sktd</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKTDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Draw2File</string>
			<key>CFBundleTypeName</key>
			<string>Apple Sketch document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.sketch2</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKTDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Draw2File</string>
			<key>CFBundleTypeName</key>
			<string>Apple Sketch 1 document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.sketch1</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SKTDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright 1995 Next Computer, Inc.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>${PRODUCT_NAME:rfc1034identifier}.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.SatoAkira.${PRODUCT_NAME:rfc1034identifier}.help</string>
	<key>CFBundleIconFile</key>
	<string>SketchApp</string>
	<key>CFBundleIdentifier</key>
	<string>com.SatoAkira.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.8.4b</string>
	<key>CFBundleSignature</key>
	<string>skt3</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>SketchyDraw URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sketchydraw</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 SatoAkira. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SketchyDraw Graphic Format</string>
			<key>UTTypeIconFile</key>
			<string>skt3DocIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.SatoAkira.skt3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>skt3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SketchyDraw Graphic 2 Format</string>
			<key>UTTypeIconFile</key>
			<string>SketchDoc</string>
			<key>UTTypeIdentifier</key>
			<string>com.SatoAkira.sktd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sktd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Apple Sketch document</string>
			<key>UTTypeIconFile</key>
			<string>Draw2File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.sketch2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketch2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Apple Sketch 1 document</string>
			<key>UTTypeIconFile</key>
			<string>Draw2File</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.sketch1</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketch</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
