<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>$(TeamIdentifierPrefix)com.SatoAkira.SketchyDraw</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(TeamIdentifierPrefix)com.SatoAkira.SketchyDraw</string>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.files.downloads.read-write</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.print</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-only</key>
	<array>
		<string>/Library/Internet Plug-Ins/QuickTime Plugin.plugin</string>
	</array>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Preferences/QuickTime Preferences</string>
		<string>/Library/Preferences/com.apple.quicktime.plugin.preferences.plist</string>
	</array>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-only</key>
	<array>
		<string>/Library/Internet Plug-Ins/QuickTime Plugin.plugin</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.pictd</string>
		<string>com.apple.printtool.agent</string>
	</array>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.apple.mail</string>
	</array>
</dict>
</plist>
