<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_us</string>
	<key>CFBundleIdentifier</key>
	<string>com.SatoAkira.SketchyDraw.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SketchyDraw Help</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.8</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>HPDBookAccessPath</key>
	<string>index.html</string>
	<key>HPDBookIconPath</key>
	<string>shrd/SketchApp.png</string>
	<key>HPDBookIndexPath</key>
	<string>SketchyDraw.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string></string>
	<key>HPDBookKBURL</key>
	<string></string>
	<key>HPDBookRemoteURL</key>
	<string></string>
	<key>HPDBookTitle</key>
	<string>SketchyDraw Help</string>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookTopicListCSSPath</key>
	<string>sty/topiclist.css</string>
	<key>HPDBookTopicListTemplatePath</key>
	<string>sty/topiclist.xquery</string>
</dict>
</plist>
